body{
    padding: 3%;
    margin: auto;
    margin-top : 1.5%;
    margin-bottom: 1.5%;
    width: 60%;
    height: 100%;
    border: 10px solid #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;     
}
header{
    color: #3498db;
}
h4{

    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
}
h2 {
    color: #2c3e50;
    text-transform: capitalize;
    font-weight: 900;
}

.first-line{
    border-left: 4px solid #bdc3c7;
    padding-left: 15px;
}
p{
    color: #2c3e50;
    font-weight: 600;
}
